.grid{
    display: grid;        
    grid-template-rows: 300px 300px ;
    grid-template-columns: 200px 200px 200px 200px;    
    justify-content: center;
    
    
    
    

    
    

}
.clas{
    border: 1px solid black;
    border-radius: 10px;   
    margin: 30px;
    padding: 10px;    
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-size: small;
    
    
}
.brand{
  margin-left: 200px;
  margin-top: 10px;  
  font-family: "Prompt", sans-serif;
  font-size: medium;
  width:110px;
    
}

